<div class="container-fluid">
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <div class="row">
    <div class="col-sm-1 col-md-1 text-center">
        <h1>Beatriks</h1>
      </div>    
  </div>


<div class="col-sm-5 col-sm-push-3"></div>
<div class="login-container container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}



{{#if user}}
      <h1>Benvenuto</h1>
      <h3>{{user.name}}</h3>
        <ul>
          <li><a href="/account">Il mio Profilo</a></li>
          <li><a href="/upload">Carica Appunti</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
{{/if}}

{{#if new}}
    <a href="/signup"><h1>>Registrati</h1></a>

{{/if}}


</div> <!-- row -->