<div class="container-fluid">
  {{#if messages.success}}
  <div role="alert" class="alert alert-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div role="alert" class="alert alert-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.info}}
  <div role="alert" class="alert alert-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if user}}
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
        <h1 class="display-3"><%= __('Hello, ')%>, <strong>{{user.name}}</strong></h1>
        <br><hr>
        <ul>
          <li>
            <a href="/account"><h2><%= __('My Account')%></h2></a>
          </li>
          <li>
            <a href="/logout"><h2>Logout</h2></a><hr>
          </li>
          <li>
            <a href="/upload"><h2><%= __('Multiple File Upload')%></h2></a>
          </li>
          <li>
            <a href="/uploaded"><h2><%= __('Single File Upload')%></h2></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead"><%= __('this is a text for home page')%></p>
        <hr class="my-4">
        <p><%= __('Find Out The Template!')%></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/signup" role="button"><%= __('Register!')%></a>
        </p>
      </div>
    </div>
  </div>
  {{/if}}
